<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-zda1{font-family:Arial, Helvetica, sans-serif !important;;border-color:inherit;text-align:center;vertical-align:top}
.tg .tg-cudy{font-weight:bold;font-family:Arial, Helvetica, sans-serif !important;;border-color:inherit;text-align:center;vertical-align:top}
</style>
<div style="overflow-x:auto;">
<table class="tg">
  <tr>
    <th class="tg-cudy">Semester VIII</th>
    <th class="tg-cudy">1</th>
    <th class="tg-cudy">2</th>
    <th class="tg-cudy">3</th>
    <th class="tg-cudy"></th>
    <th class="tg-cudy">4</th>
    <th class="tg-cudy">5</th>
    <th class="tg-cudy">6</th>
  </tr>
  <tr>
    <td class="tg-cudy">Day/Time</td>
    <td class="tg-zda1">9:00-10:00</td>
    <td class="tg-zda1">10:00-11:00</td>
    <td class="tg-zda1">11:00-12:00</td>
    <td class="tg-zda1" rowspan="6"><br/><br/><br/><br/>BREAK</td>
    <td class="tg-zda1">13:00-14:00</td>
    <td class="tg-zda1">14:00-15:00</td>
    <td class="tg-zda1">15:00-16:00</td>
  </tr>
  <tr>
    <td class="tg-cudy">Monday</td>
    <!-- <td class="tg-zda1" colspan="4">IT/CN Lab</td> -->
    <td class="tg-zda1" colspan="3">Project</td>
    <td class="tg-zda1" colspan="3">Project</td> 
  </tr>
  <tr>
    <td class="tg-cudy">Tuesday</td>
    <td class="tg-zda1">Project</td>
    <td class="tg-zda1" colspan="2">ND Elective</td>
    <td class="tg-zda1">Elective IV</td>
    <td class="tg-zda1">CCS</td>
    <td class="tg-zda1">Project</td>
  </tr>
  <tr>
    <td class="tg-cudy">Wednesday</td>
    <td class="tg-zda1" colspan="2">Project</td>
    <td class="tg-zda1">Elective IV</td>
    <td class="tg-zda1" colspan="2">DA</td>
    <td class="tg-zda1">Project</td>
  </tr>
  <tr>
    <td class="tg-cudy">Thursday</td>
    <td class="tg-zda1">Project</td>
    <td class="tg-zda1">CCS</td>
    <td class="tg-zda1">DA</td>
    <td class="tg-cudy">Elective IV</td>
    <td class="tg-cudy">CCS</td>
    <td class="tg-cudy">Project</td>
  </tr>
  <tr>
    <td class="tg-cudy">Friday</td>
    <td class="tg-zda1">Project/td>
    <td class="tg-zda1">ND Elective</td>
    <td class="tg-zda1">Project</td>
    <td class="tg-zda1">BREAK</td>
    <td class="tg-zda1">Project</td>
    <td class="tg-zda1">Project</td>
  </tr>
</table>
</div>
