
<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-zda1{font-family:Arial, Helvetica, sans-serif !important;;border-color:inherit;text-align:center;vertical-align:top}
.tg .tg-cudy{font-weight:bold;font-family:Arial, Helvetica, sans-serif !important;;border-color:inherit;text-align:center;vertical-align:top}
</style>
<table class="tg">
  <tr>
    <th class="tg-cudy">Semester V</th>
    <th class="tg-cudy">1</th>
    <th class="tg-cudy">2</th>
    <th class="tg-cudy">3</th>
    <th class="tg-cudy">4</th>
    <th class="tg-cudy"></th>
    <th class="tg-cudy">5</th>
    <th class="tg-cudy">6</th>
    <th class="tg-cudy">7</th>
  </tr>
  <tr>
    <td class="tg-cudy">Day/Time</td>
    <td class="tg-zda1">9:00-9:50</td>
    <td class="tg-zda1">9:50-10:40</td>
    <td class="tg-zda1">10:50-11:40</td>
    <td class="tg-zda1">11:40-12:50</td>
    <td class="tg-zda1"></td>
    <td class="tg-zda1">13:30-14:20</td>
    <td class="tg-zda1">14:20-15:10</td>
    <td class="tg-zda1">15:10-16:00</td>
  </tr>
  <tr>
    <td class="tg-cudy">Monday</td>
    <td class="tg-zda1">MPC</td>
    <td class="tg-zda1">CNW</td>
    <td class="tg-zda1">OS</td>
    <td class="tg-zda1">UNIX/CG</td>
    <td class="tg-zda1" rowspan="5"></td>
    <td class="tg-zda1">SADP</td>
    <td class="tg-zda1" colspan="2">Design Project</td>
  </tr>
  <tr>
    <td class="tg-cudy">Tuesday</td>
    <td class="tg-zda1">CNW</td>
    <td class="tg-zda1" colspan="3">MP/DB Lab</td>
    <td class="tg-zda1">MPC</td>
    <td class="tg-zda1">TOC</td>
    <td class="tg-zda1">SADP</td>
  </tr>
  <tr>
    <td class="tg-cudy">Wednesday</td>
    <td class="tg-zda1">OS</td>
    <td class="tg-zda1">UNIX/CG</td>
    <td class="tg-zda1">TOC</td>
    <td class="tg-zda1">MPC</td>
    <td class="tg-zda1" colspan="3">MP/DB Lab</td>
  </tr>
  <tr>
    <td class="tg-cudy">Thursday</td>
    <td class="tg-zda1">UNIX/CG</td>
    <td class="tg-zda1">SADP</td>
    <td class="tg-zda1">OS</td>
    <td class="tg-zda1">TOC</td>
    <td class="tg-zda1">CNW</td>
    <td class="tg-zda1">MPC</td>
    <td class="tg-zda1">TOC</td>
  </tr>
  <tr>
    <td class="tg-cudy">Friday</td>
    <td class="tg-zda1">SADP</td>
    <td class="tg-zda1">CNW</td>
    <td class="tg-zda1" colspan="2">CGPU</td>
    <td class="tg-zda1">BREAK</td>
    <td class="tg-zda1">OS</td>
    <td class="tg-zda1">UNIX/CG</td>
  </tr>
</table>
